<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>Travel Agency Management System</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
 	
 	<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></link>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-full navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Travel Agency Management System</a>
            </div>
            <ul class="navbar-nav nav">
                <li class="nav-item"><a class="nav-link" href="/customer">Customer information</a></li>
                <li class="nav-item"><a class="nav-link" href="/tour">Tour information</a></li>
                <li class="nav-item"><a class="nav-link" href="/uq">Unanswered questions</a></li>
            </ul>
        </div>
    </nav>

    <div layout:fragment="content"></div>
</div>
</body>
</html>