<!DOCTYPE HTML>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">Tour List</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tour ID</th>
                                <th>Tour name</th>
                                <th>Tour date</th>
                                <th>Tour guide ID</th>
                                <th>Name of hotel</th>
                                <th>Tour capacity</th>
                                <th>Registered number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tour : ${tours}">
                                <td th:text="${tour.getTourId()}">Tour ID</td>
                                <td th:text="${tour.getTourName()}">Tour name</td>
                                <td th:text="${tour.getTourDate()}">Tour date</td>
                                <td th:text="${tour.getTourGuideId()}">Tour guide ID</td>
                                <td th:text="${tour.getNameOfHotel()}">Name of hotel</td>
                                <td th:text="${tour.getTourCapacity()}">Tour capacity</td>
                                <td th:text="${tour.getRegisteredNum()}">Registered number</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>